.buttonn{
    border: 2px solid rgb(213, 11, 11);
    width:17vw;
    height: 13vh;
    margin-top: 4vh;
    font-weight: 900;
    font-size: x-large;
    overflow: scroll;
}
.buttonn:hover{
    background-color: rgb(26, 142, 26);
    transition: 2.5s;
}



.landingbox{
    width:85vw;
    height: 78vh;
    border: 0px solid black;
    margin: 40px;
    margin-left: 8%;
    text-align: center;
    box-shadow: 0px 0px 8px black;
    border-radius: 4px;
    padding-top: 60px;
     /* background-image: linear-gradient(to right, rgb(242, 104, 104) , yellow); */
     /* background-color: rgb(121, 121, 246); */
     background:url("https://www.shutterstock.com/image-vector/neon-quiz-sign-vector-design-260nw-1722883588.jpg");
     background-repeat: no-repeat;
     background-size: cover;
    
}
.inputbox{
    width: 30vw;
    height: 5vh;
    font-weight: 600;
   margin-top: 60px;
   /* background-color: bisque; */
}
.inputboxx{
    width: 29vw;
    height: 5vh;
    font-weight: 600;
   margin-top: 20px;
   /* background-color: bisque; */
}
.selectlist{
    width: 29vw;
    height: 5vh;
    margin-top: 17px;
    
}
.formbox{
 margin-top: 100px;
    width: 45vw;
    height: 45vh;
    text-align: center;
    margin-left: 280px;
    /* background-image: radial-gradient(circle, rgb(237, 237, 54), rgb(21, 250, 21)); */
    /* background-image: linear-gradient(to right, rgb(242, 104, 104) , yellow); */
 
}
label{
    font-size:x-large;
    font-weight: 700;
    color: crimson;
}
h1{
    text-shadow: -2px 2px 5px red;
    margin-left: 40px;
    /* color: aquamarine; */
}

    
body{
    background-color:#b5b5b0;
    background-color: red;
    animation-name: example;
    animation-duration: 7s;
    animation-iteration-count: infinite;
 }
 @keyframes example {
    0%   {background-color:rgb(172, 169, 167);}
    25%  {background-color: rgb(251, 251, 152);}
    50%  {background-color: rgb(63, 99, 245);}
    75%  {background-color:rgb(244, 91, 60);}
    100% {background-color: green;}
  }
